body{
    margin:0px;
    width: 100%;
    background-color: #eefbff;
}


#img2, #img3, #img4, #img5{
    width: 150px;
    height: 80px; 
}

section{
    border: 1px solid;
    margin: 1em;
    padding: 1.2em;
    
}

main{
    position: relative;
    margin-top: 10px;
    margin-left: auto;
 
 }

#footer1{
    border: 1px solid;
    padding: 1.5em;
    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
}
article{
    border: 1px solid;
	width: 100;
	background: #eefbff;
	padding: 21px;
	display: inline-block;
	width: 94.5%;
    margin-right: 5px; 
    margin-left: 15px;
 }

 .section1{
    border-radius: 5px;
    border: 2px solid red;
}


span{
    font-weight: bold;
    color: rgb(20, 20, 20);
    text-decoration: underline;
}

