#img1{
    text-align: center;
    
}

#section1{
    border: 2px solid red;
    margin: 15px;
    border-radius: 5px;
}

#section2{
    border: 2px solid red;
    margin: 15px;
    border-radius: 5px;
}

