*{
    margin: 0;
    padding: 0;
}


.container{
    text-align: center;
}

ul{
    list-style-type: none;
    overflow: hidden;
    
}

li{
    float: left;
    padding: 5px;
}

.navigation{
    float: right;
}

.button{
    height: 40px;
    width: 80px;
    border: 2px solid black;
    border-radius: 10px;
}

.commentaires{
    font-weight: bold;
    font-size: 20px;
}
